[Unit]
Description=App Swoole server

[Service]
Type=forking
PIDFile=/site/writable/swoole.pid
ExecStart=/usr/bin/php /site/app/worker.php
ExecStop=/usr/bin/kill -9 $MAINPID
Restart=always
RestartSec=5
TimeoutStopSec=1

[Install]
WantedBy = multi-user.target

#Restart=on-failure
#RestartSec=10s

